# Python virtual environments
myenv/
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.egg-info/

# Log files
*.log

# Environment variables
.env
*.ipynb
*.jpg
*.jpeg
logs/


For_podcast.py
example.py